/* ---------------------------------------------------
LAYOUT
----------------------------------------------------*/
.headline {
  padding-right: 2rem;
}
@media only screen and (max-width: 44em) {
  .headline {
    padding-right: 0;
  }
}
span {
  display: table;
}
/* Custom media query - medium small - neutralize span line braks */

/*
@media only screen and (max-width: 40em) {
  h1 span,
  p span {
    display: initial;
  }
}
*/

/* ---------------------------------------------------
UNDERLINE
----------------------------------------------------*/
em {
  font-style: normal;
  padding: 0;
  margin: 0;
  /*  shadows render better in certain browsers than text, first rule is for older browser support  */
  color: #333333;
  color: transparent;
  text-shadow: 0 0 #333333, .06em 0 0 #FFFCEB, 0 0, -.06em 0 0 #FFFCEB;
  /*  gradient background allows us to use css only & re-position it  */
  background: -webkit-linear-gradient(#333333, #333333) center 1.06em no-repeat;
  background: linear-gradient(#333333, #333333) center 1.06em no-repeat;
  /*  can precisely control size in relation to the text  */
  background-size: 98% 0.15rem;
}
